body{
    background-image: url('../resources/orderbg.webp');
    background-repeat: no-repeat;
    background-size: 100%;
}
.delivery{
    margin-top: 1%;
    animation: slideIn 1s ease;
}
@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}
.ft{
    font-size: xx-large;
    /* font-weight: 200; */
    font-family: "Tilt Warp", cursive;
    background-color: rgb(242, 135, 7);
    margin-left: 15%;
    margin-right: 35%;
    text-align: center;
    animation: slideIn 1s ease;
    top: 90%;
    left: 100px;
}