.t{
	font-family: 'Satisfy', cursive;
	font-size: 50px;
	color: brown;
}
.b1:hover {
	transform: scale(1.2);
	transition: transform .6s ease;
}
.resturant{
	background-color: #FDEBED;
}
.a1{
	background-color: rgba(178, 161, 161, 0.16);
}
td{
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
}
table{
	margin-left: auto;
  	margin-right: auto;
}

