.t{
  font-family: 'Tilt Warp', cursive;
	font-size: xx-large;
}
body{
    background-color: gainsboro;
}
.food{
	background-color: #E7B10A;
}
.a1 {
	/* margin-top: 10px; */
	background-color: white;
}
#nvbar1{
  height: fit-content;
  
}

.back{
	background-color: #f1f1ed;
}
td {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
}
.b1:hover {
	transform: scale(1.2);
	transition: transform .5s ease;
	background-color: #8f8f8e;
  }
  .b3:hover {
	transform: scale(1.2);
	transition: transform .5s ease;
  }
.b2:hover {
	transform: scale(1);
	transition: transform .6s ease;
  }
  .t{
	color: brown;
  font-size: large;
  }
  table{
	margin-left: auto;
	margin-right: auto;
  }
  @keyframes slideIn {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideOut {
    0% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}
.left{
	animation: slideIn 3s ease;
}
.right{
	animation: slideOut 3s ease;
}