body {
	background-color: gainsboro;
	font-family: 'Poppins', sans-serif;
}

.resturant {
	background-color: #FDEBED;
}

.a1 {
	background-color: rgba(178, 161, 161, 0.16);
}

td {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.b1:hover {
	transform: scale(1.3);
	transition: transform .5s ease;
}

.b2:hover {
	transform: scale(1.2);
	transition: transform .6s ease;
}

.t {
	color: brown;
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	font-size: xx-large;
}

.headbar {
	background-color: #E7B10A;
}