.t{
	font-size: xx-large;
}
body{
    background-color: gainsboro;
}
.food{
	background-color: #E7B10A;
}
.a1 {
	/* margin-top: 10px; */
	background-color: white;
}
.back{
	background-color: #f1f1ed;
}
#table{
	border: 2px solid;
	margin-left: auto;
	margin-right: auto;
}

.th{
	text-align: center;
	padding: 10px;
	border: 2px solid gray;
}
.b1:hover {
	transform: scale(1.2);
	transition: transform .5s ease;
	background-color: #8f8f8e;
}
.t{
	color: brown;
}
.border{
	margin-left: auto;
	margin-right: auto;
}
.tb{
	padding-bottom: 20px;
}

td{
	padding-right: 10px;
	padding-top: 10px;
}